.wrapper {
  display: flex;
  height: $wrapper-height;
  max-width: $site-max-width;
  margin: 0 auto;

  @include desktop {
    padding: $space-lg $space;
  }
}

.wrapper__sidebar {
  display: flex;
  transition: left .3s ease;

  position: fixed;
  top: $header-height;
  left: -100vw;
  bottom: 0;
  width: 100vw;
  z-index: 1;

  @include desktop {
    display: flex;
    padding-right: $space-lg;
    position: static;
    width: $wrapper-sidebar-w;
  }
}

.menu .wrapper__sidebar {
  left: 0;
}

.wrapper__main {
  display: flex;
  width: 100%;

  @include desktop {
    width: $wrapper-main-w;
  }
}
