.wrapper {
  display: flex;
  height: $wrapper-height;
  max-width: $site-max-width;
  margin: 0 auto;

  @include desktop {
    padding: $space-lg $space;
  }
}

.wrapper__sidebar {
  display: none;
  padding-right: $space-lg;
  width: $wrapper-sidebar-w;

  @include desktop {
    display: flex;
  }
}

.wrapper__main {
  display: flex;
  width: 100%;

  @include desktop {
    width: $wrapper-main-w;
  }
}
